<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <link rel="stylesheet" href="./assets/css/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="./assets/css/search.css">


    <title>PL Store| tìm kiếm</title>
</head>

<body>
    <header>
        <header id="header" class="row">
            <div class="logo col">
                <a href="home"> <img src="./images/logo/logostore.png" alt="" class="logo-store ml-60">
                </a>
            </div>
            <div class="nav col col1 mlr-24">
                <div class="row mobile-nowrap">
                    <form id="searchForm" action="search">
                        <div class="search-header">
                            <input name="search" type="text" class="header-input-search input"
                                placeholder="tìm kiếm sản phẩm"><a href="#"
                                onclick="document.getElementById('searchForm').submit();"><i
                                    class="ti-search icon"></i></a>


                        </div>
                    </form>
                    <div class="user-header">
                        <div class="user-icon">
                            <i class="ti-user icon js-user-icon"></i> <i
                                class="ti-shopping-cart icon js-cart-icon"><sub><span
                                        th:text="${(session.cart != null) ? session.cart.items.size : '0'}"></span>
                                </sub> </i>
                        </div>


                    </div>
                </div>
                <ul class="row  nav-header">
                    <li><a href="#" class="nav__link">Thương hiệu</a>
                        <ul class="row sub-nav">
                            <li class="col flex-start"><a href="">Các hãng bán chạy</a>
                                <ul class="col flex-start">
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Daniel Walington(DW)</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Seiko</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Rolex</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Orient</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Timex</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Casio</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Citizen</span></a></li>

                                </ul>
                            </li>
                            <li class="col flex-start"><a href="">Khuyên dùng</a>
                                <ul class="col flex-start">
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Rolex</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                G-shock</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Seiko</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Rolex</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                KOI</span></a></li>


                                </ul>
                            </li>
                            <li class="col flex-start"><a href="">Các dòng đặc biệt</a>
                                <ul class="col flex-start">
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Limited Edition</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Đồng hồ quân đội</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Đồng hồ điện tử</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Đồng hồ đính kim cương</span></a></li>


                                </ul>
                            </li>
                            <li class="col flex-start"><a href="">Thụy Sỹ</a>
                                <ul class="col flex-start">
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Longisness</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Tossi</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Tissot</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Rado</span></a></li>
                                    <li><a href=""><i class="ti-angle-right"></i><span>
                                                Movado</span></a></li>


                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li><a href="#" class="nav__link">Nam</a>
                    <li><a href="#" class="nav__link">Nữ</a>
                    <li><a href="#" class="nav__link">Cặp đôi</a>
                    <li><a href="#" class="nav__link">Trang sức</a>
                    <li><a href="#" class="nav__link">Dịch Vụ</a>
                    <li><a href="contact.jsp" class="nav__link">Liên hệ</a>
                </ul>
            </div>
        </header>

        <!-- modal user -->
        <div class="overlay js-overlay hide-modal">
            <div class="slide-out js-slide-out">
                <div class="slide-out__header row">
                    <a class="slide-out__close js-btn-slide-out-close">Đóng</a>
                    <div class="row">
                        <button id="js-account-tab-link" class=" js-tab-links col1"
                            onclick="showModalTab(event, 'account-tab')">Tài khoản</button>
                        <button id="js-cart-tab-link" class="js-cart-tab-link js-tab-links col1"
                            onclick="showModalTab(event, 'cart-tab')">Giỏ hàng</button>
                    </div>
                </div>
                <div class="hr"></div>
                <div id="account-tab" class=" js-tab-contents ">
                    <!-- form login -->
                    <form class="form js-form-account col js-login-form hide-modal" th:action="login" method="post">
                        <div class="form-title">
                            <lable>Đăng nhập</lab>
                        </div>

                        <div class="main-content">
                            <label for="login-input-username">Tên tài khoản</label> <input required type="text"
                                id="login-input-username" placeholder="Nhập username " name="username"> <label
                                for="login-input-password">Mật khẩu</label> <input required type="password"
                                id="login-input-password" placeholder="nhập mật Khẩu" name=password> <input
                                type="checkbox" class="checkbox" name="remember-me"> <span>ghi nhớ</span>


                            <div class="row">
                                <input class="submit-form" type="submit" value="Đăng nhập">
                            </div>
                            <div class="row">
                                <a href="" class="forgot-password">Quên mật khẩu?</a>
                                <a href="#" class="sign-in js-sign-in-request">Chưa có tài khoản?</a>
                            </div>
                        </div>
                        <div class="hr"></div>

                    </form>
                    <!-- form sign in -->
                    <form class="form js-form-account col js-sign-in-form hide-modal" action="">
                        <div class="form-title">
                            <label>Đăng Ký</label>
                        </div>

                        <div class="main-content">
                            <label for="sign-in-input-username">Tên tài khoản</label>
                            <input type="text" id="sign-in-input-username" class="nor-input"
                                placeholder="Nhập username ">

                            <label for="sign-in-input-email">Email</label>
                            <input type="email" id="sign-in-input-email" class="nor-input"
                                placeholder="nhập địa chỉ email">

                            <label for="sign-in-input-password">Mật khẩu</label>
                            <input type="password" id="sign-in-input-password" class="nor-input"
                                placeholder="nhập mật khẩu">

                            <label for="sign-in-input-re-password">nhập lại mật khẩu</label>
                            <input type="password" id="sign-in-input-re-password" class="nor-input"
                                placeholder="nhập lại mật khẩu">

                            <div class="row">
                                <input class="submit-form" type="submit" value="Đăng Ký">
                            </div>

                        </div>
                        <div class="hr"></div>
                        <a href="" class="js-login-request">Quay về đăng nhập</a>

                    </form>
                    <!-- form user  -->
                    <form class="form js-form-account col js-user-form " action="">
                        <div class="main-content">
                            <h3>Welcome ${session.user.username}!</h3>
                            <h4>Đơn hàng của bạn</h4>
                            <a href="orderDetails" class="row button"> <span><i class="ti-time icon"></i> Xem tất cả
                                    đơn hàng</span> <i class="ti-arrow-right icon"></i>
                            </a>
                            <h4>Thanh toán</h4>
                            <a href="" class="row button"> <span><i class="ti-time icon"></i> Quản lý thẻ</span> <i
                                    class="ti-arrow-right icon"></i>
                            </a>

                            <h4>Voucher</h4>
                            <a href="" class="row button"> <span><i class="ti-time icon"></i> Voucher của bạn</span>
                                <i class="ti-arrow-right icon"></i>
                            </a>

                            <h4>Cài đặt</h4>
                            <a href="" class="row button"> <span><i class="ti-time icon"></i> Cài đặt tài
                                    khoản</span> <i class="ti-arrow-right icon"></i>
                            </a>

                        </div>
                        <div class="hr"></div>

                        <a href="logout" class="logout-button">Log out</a>
                    </form>
                </div>
                <!-- cart -->


                <div id="cart-tab" class=" js-tab-contents ">

                    <form class="form col js-cart-form " action="checkout">
                        <div class="form-title">
                            <p>Giỏ hàng(<span
                                    th:text="${(session.cart != null) ? session.cart.items.size : '0'}"></span>)</p>
                        </div>
                        <div class="hr"></div>


                        <div class="main-content" th:if="${!session.cart.items.empty && session.cart != null}">
                            <div class="cart-items col1">



                                <div th:each="item : ${session.cart.items}" class="cart-item">
                                    <!-- img & label -->
                                    <div class="row">
                                        <div class="col">
                                            <img th:src="@{'~/images/product/' + ${item.product.img} + '/' + ${item.product.img} + '_1.jpg'}"
                                                alt="">
                                        </div>
                                        <div class="col1">
                                            <p class="brand-label" th:text="${item.product.brand.name}"></p>
                                            <p class="item-name" th:text="${item.product.name}"></p>
                                        </div>
                                    </div>
                                    <!-- price and quatity -->
                                    <div class="row no-wrap">
                                        <div class="col">

                                            <div class="row no-wrap"
                                                th:if="${item.product.sales != null && item.product.sales.salesvalue > 0}">
                                                <span class="col new-price"
                                                    th:text="${'$' + item.product.priceAfterSales}"></span>
                                                <span class="col old-price"
                                                    th:text="${'$' + item.product.price }"></span>
                                            </div>

                                            <span class="col new-price"
                                                th:if="${item.product.sales == null || item.product.sales.salesvalue == 0}"
                                                th:text="${'$' + item.product.price}"></span>

                                        </div>
                                        <!-- quatity -->
                                        <div class="col cart-quantity">
                                            <div class="row ">
                                                <a href="" class="sub-btn ">-</a> <input
                                                    style="width: 30% !important; margin: 0;" readonly type="number"
                                                    th:value="${item.quantity}"> <a href="" class="add-btn">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <span class="new-price col" th:text="'total: ' + ${item.price}"></span>
                                        <div class="col">
                                            <a href="" class="mt-8">xóa khỏi giỏ hàng</a>
                                        </div>
                                        <div class="hr"></div>
                                    </div>

                                </div>
                                </c:forEach>

                                <div class="total-price col1">
                                    <div class="row">
                                        <label class="label">total price</label> <label for=""
                                            th:text="'$' + ${cart.amount}">
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="label">saving</label> <label for=""
                                            th:text="'$' + ${cart.saving}">
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="label">tax</label> <label for=""> 10% </label>
                                    </div>
                                    <div class="row">
                                        <label class="label">Sub total</label> <label for=""
                                            th:text="'$' + ${cart.amount + cart.amount * 10 / 100}">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="hr"></div>
                                <input class="submit-form col1" type="submit" value="Thanh Toán">
                            </div>
                        </div>


                        <p th:if="${session.cart.items.empty || session.cart == null}">Your cart is empty</p>

                    </form>
                </div>


            </div>
        </div>



    </header>
    <form th:action="@{~/product/search}">
        <input type="text" name="searchText" th:value="${searchText }" hidden="true" />
        <div id="contents" class="  ptb-160">
            <div class="contents-wrapper row">

                <div class="filter-panel col">
                    <div class="filte-status">
                        <i class="ti-filter icon"></i> <span class="filter-status__text">Bộ
                            Lọc Tìm Kiếm</span>
                    </div>
                    <div class="filter-group col">
                        <span class="filter-group__header">Theo Thương Hiệu</span>
                        <div class="filter-group__body ">
                            <input type="checkbox" name="brandFil" value="Rolex">
                            Rolex <br> <input type="checkbox" name="brandFil" value="Seiko"> Seiko <br> <input
                                type="checkbox" name="brandFil" value="Orient"> Orient <br> <input type="checkbox"
                                name="brandFil" value="Timex"> Timex <br>
                            <span>Thêm <i class="ti-angle-down filter-group__body-icon"></i></span>

                        </div>
                    </div>
                    <div class="filter-group col">
                        <span class="filter-group__header">Theo giá</span>
                        <div class="filter-group__body ">
                            <input type="checkbox" name="priceFil" value="Rolex"> <span>
                                < 1000$</span> <br> <input type="checkbox" name="priceFil" value="Rolex"> 1000-3000 <br>
                                    <input type="checkbox" name="priceFil" value="Rolex"> 3000-5000
                                    <br> <input type="checkbox" name="priceFil" value="Rolex">
                                    > 5000 <br> <span>Thêm <i class="ti-angle-down filter-group__body-icon"></i></span>

                        </div>
                    </div>
                    <div class="filter-group col">
                        <span class="filter-group__header">Theo Giới tính</span>
                        <div class="filter-group__body ">
                            <input type="checkbox" name="brandCheck" value="Men"> Nam
                            <br> <input type="checkbox" name="brandCheck" value="Lady">
                            Nữ <br> <input type="checkbox" name="brandCheck" value="Unisex"> Unisex <br> <span>Thêm <i
                                    class="ti-angle-down filter-group__body-icon"></i></span>

                        </div>
                    </div>
                    <div class="filter-group col">
                        <span class="filter-group__header">Khác</span>
                        <div class="filter-group__body ">
                            <input type="checkbox" name="onSale" onchange="this.form.submit()" value="onSale"> Đang giảm
                            giá <br>


                        </div>
                    </div>
                </div>

                <div class="search-result col1">
                    <div class="row">
                        <div class="search-result-header">
                            <span>Kết quả tìm kiếm cho: <span th:text="${searchText}"></span></span>
                        </div>
                        <div class="sort-bar">
                            <span>Sắp xếp theo: Mặc định <i class="ti-angle-down filter-group__body-icon"></i>
                                <div class="sort-bar-item">

                                    <a href="">mới nhất</a> <a href="">Giá: cao đến thấp</a> <a href="">Giá: thấp đến
                                        cao</a>
                                </div>
                            </span>


                        </div>

                    </div>
                    <div class="search-result-main row">


                        <div th:each="product : ${products}" class="search-result-main-item">
                            <div class="search-result-main-item-img">
                                <img th:src="@{~'/images/product/' + product.img + '/' + product.img + '_1.jpg'}" alt="">
                            </div>
                            <a th:href="#"
                                class="search-result-main-item-text"> <span class="brand-name" th:text="${product.brand.name}"></span>
                                <span class="name" th:text="${product.name}"></span>
                            </a>

                            
                                <div class="price f-13" th:if="${1 > 0}">
                                    <span class="" th:text="'$'+${product.price}">$${product.price }</span>
                                </div>
                            
                           
                                <div class="price f-13" th:if="${1 == 0}">
                                    <span class="" th:text="'$' + ${product.priceAfterSales}"> </span> <span class="old-price">$${product.price
                                        }</span>
                                </div>
                            </c:if>
                        </div>


                    </div>
                    <div class="hr"></div>
                    <div class="page-controller row">
                        <c:set var="totalPage" value="${requestScope.totalPage }"></c:set>
                        <a href=""><i class="ti-angle-left"></i></a>
                        <c:forEach begin="1" end="${totalPage }" var="page">
                            <a href="MenWatches?page=${page }">${page }</a>
                        </c:forEach>
                        <a href=""><i class="ti-angle-right"></i></a>
                    </div>

                    <div class="hr"></div>
                </div>

            </div>




        </div>
    </form>

    <jsp:include page="footer.jsp"></jsp:include>


    <!-- script -->

    <script src="./assets/scrips/"></script>





</body>

</html>