<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{~/css/styles.css}">
	<link rel="stylesheet" th:href="@{~/css/themify-icons/themify-icons.css}">
	<link rel="stylesheet" th:href="@{~/css/cart.css}">
	<title>PL Store | Order list</title>
</head>

<body>


	<!-- header -->
	<header>
		<header id="header" class="row">
			<div class="logo col">
				<a th:href="@{~/home}"> <img th:src="@{~/images/logo/logostore.png}" alt="" class="logo-store ml-60">
				</a>
			</div>
			<div class="nav col col1 mlr-24">
				<div class="row mobile-nowrap">
					<form id="searchForm" th:action="@{~/product/search}" method="post">
						<div class="search-header">
							<input name="searchText" type="text" class="header-input-search input"
								placeholder="tìm kiếm sản phẩm"><a href="#"
								onclick="document.getElementById('searchForm').submit();"><i
									class="ti-search icon"></i></a>


						</div>
					</form>
					<div class="user-header">
						<div class="user-icon">
							<i class="ti-user icon js-user-icon"></i> <i
								class="ti-shopping-cart icon js-cart-icon"><sub><span
										th:text="${(session.cart != null) ? session.cart.items.size : '0'}"></span>
								</sub> </i>
						</div>


					</div>
				</div>
				<ul class="row  nav-header">
					<li><a href="#" class="nav__link">Thương hiệu</a>
						<ul class="row sub-nav">
							<li class="col flex-start"><a href="">Các hãng bán chạy</a>
								<ul class="col flex-start">
									<li><a href=""><i class="ti-angle-right"></i><span>
												Daniel Walington(DW)</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Seiko</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Rolex</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Orient</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Timex</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Casio</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Citizen</span></a></li>

								</ul>
							</li>
							<li class="col flex-start"><a href="">Khuyên dùng</a>
								<ul class="col flex-start">
									<li><a href=""><i class="ti-angle-right"></i><span>
												Rolex</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												G-shock</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Seiko</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Rolex</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												KOI</span></a></li>


								</ul>
							</li>
							<li class="col flex-start"><a href="">Các dòng đặc biệt</a>
								<ul class="col flex-start">
									<li><a href=""><i class="ti-angle-right"></i><span>
												Limited Edition</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Đồng hồ quân đội</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Đồng hồ điện tử</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Đồng hồ đính kim cương</span></a></li>


								</ul>
							</li>
							<li class="col flex-start"><a href="">Thụy Sỹ</a>
								<ul class="col flex-start">
									<li><a href=""><i class="ti-angle-right"></i><span>
												Longisness</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Tossi</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Tissot</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Rado</span></a></li>
									<li><a href=""><i class="ti-angle-right"></i><span>
												Movado</span></a></li>


								</ul>
							</li>

						</ul>
					</li>
					<li><a href="#" class="nav__link">Nam</a>
					<li><a href="#" class="nav__link">Nữ</a>
					<li><a href="#" class="nav__link">Cặp đôi</a>
					<li><a href="#" class="nav__link">Trang sức</a>
					<li><a href="#" class="nav__link">Dịch Vụ</a>
					<li><a href="contact.jsp" class="nav__link">Liên hệ</a>
				</ul>
			</div>
		</header>

		<!-- modal user -->
		<div class="overlay js-overlay hide-modal">
			<div class="slide-out js-slide-out">
				<div class="slide-out__header row">
					<a class="slide-out__close js-btn-slide-out-close">Đóng</a>
					<div class="row">
						<button id="js-account-tab-link" class=" js-tab-links col1"
							onclick="showModalTab(event, 'account-tab')">Tài khoản</button>
						<button id="js-cart-tab-link" class="js-cart-tab-link js-tab-links col1"
							onclick="showModalTab(event, 'cart-tab')">Giỏ hàng</button>
					</div>
				</div>
				<div class="hr"></div>
				<div id="account-tab" class=" js-tab-contents ">
					<!-- form login -->
					<form th:if="${session.user == null}" class="form js-form-account col js-login-form "
						th:action="@{~/login}" method="post">
						<div class="form-title">
							<lable>Đăng nhập</lab>
						</div>

						<div class="main-content">
							<label for="login-input-username">Tên tài khoản</label> <input required type="text"
								id="login-input-username" placeholder="Nhập username " name="username"> <label
								for="login-input-password">Mật khẩu</label> <input required type="password"
								id="login-input-password" placeholder="nhập mật Khẩu" name=password> <input
								type="checkbox" class="checkbox" name="remember-me"> <span>ghi nhớ</span>


							<div class="row">
								<input class="submit-form" type="submit" value="Đăng nhập">
							</div>
							<div class="row">
								<a href="" class="forgot-password">Quên mật khẩu?</a>
								<a th:href="@{~/register}" class="sign-in js-sign-in-request">Chưa có tài khoản?</a>
							</div>
						</div>
						<div class="hr"></div>

					</form>
					<!-- form sign in -->
					<form class="form js-form-account col js-sign-in-form hide-modal" action="">
						<div class="form-title">
							<label>Đăng Ký</label>
						</div>

						<div class="main-content">
							<label for="sign-in-input-username">Tên tài khoản</label>
							<input type="text" id="sign-in-input-username" class="nor-input"
								placeholder="Nhập username ">

							<label for="sign-in-input-email">Email</label>
							<input type="email" id="sign-in-input-email" class="nor-input"
								placeholder="nhập địa chỉ email">

							<label for="sign-in-input-password">Mật khẩu</label>
							<input type="password" id="sign-in-input-password" class="nor-input"
								placeholder="nhập mật khẩu">

							<label for="sign-in-input-re-password">nhập lại mật khẩu</label>
							<input type="password" id="sign-in-input-re-password" class="nor-input"
								placeholder="nhập lại mật khẩu">

							<div class="row">
								<input class="submit-form" type="submit" value="Đăng Ký">
							</div>

						</div>
						<div class="hr"></div>
						<a href="" class="js-login-request">Quay về đăng nhập</a>

					</form>
					<!-- form user  -->
					<div class="form js-form-account col js-user-form " action="" th:if="${session.user != null}">
						<div class="main-content">
							<h3 th:text="'Welcome ' + ${session.user.username} + '!'"></h3>
							<h4>Đơn hàng của bạn</h4>
							<a href="orderDetails" class="row button"> <span><i class="ti-time icon"></i> Xem tất cả
									đơn hàng</span> <i class="ti-arrow-right icon"></i>
							</a>
							<h4>Thanh toán</h4>
							<a href="" class="row button"> <span><i class="ti-time icon"></i> Quản lý thẻ</span> <i
									class="ti-arrow-right icon"></i>
							</a>

							<h4>Voucher</h4>
							<a href="" class="row button"> <span><i class="ti-time icon"></i> Voucher của bạn</span>
								<i class="ti-arrow-right icon"></i>
							</a>

							<h4>Cài đặt</h4>
							<a href="" class="row button"> <span><i class="ti-time icon"></i> Cài đặt tài
									khoản</span> <i class="ti-arrow-right icon"></i>
							</a>

						</div>
						<div class="hr"></div>
						<form class="form col" th:action="@{~/logout}" method="post">
							<input class="logout-button" type="submit" value="Sign Out" />
						</form>
						<!-- <a href="logout" class="logout-button">Log out</a> -->
					</div>
				</div>
				<!-- cart -->


				<div id="cart-tab" class=" js-tab-contents ">

					<form class="form col js-cart-form " th:action="@{~/checkout}" method="get">
						<div class="form-title">
							<p>Giỏ hàng(<span
									th:text="${(session.cart != null) ? session.cart.items.size : '0'}"></span>)</p>
						</div>
						<div class="hr"></div>


						<div class="main-content" th:if="${!session.cart.items.empty && session.cart != null}">
							<div class="cart-items col1">



								<div th:each="item : ${session.cart.items}" class="cart-item">
									<!-- img & label -->
									<div class="row">
										<div class="col">
											<img th:src="@{'~/images/product/' + ${item.product.img} + '/' + ${item.product.img} + '_1.jpg'}"
												alt="">
										</div>
										<div class="col1">
											<p class="brand-label" th:text="${item.product.brand.name}"></p>
											<p class="item-name" th:text="${item.product.name}"></p>
										</div>
									</div>
									<!-- price and quatity -->
									<div class="row no-wrap">
										<div class="col">

											<div class="row no-wrap"
												th:if="${item.product.sales != null && item.product.sales.salesValue > 0}">
												<span class="col new-price"
													th:text="${'$' + item.product.priceAfterSales}"></span>
												<span class="col old-price"
													th:text="${'$' + item.product.price }"></span>
											</div>

											<span class="col new-price"
												th:if="${item.product.sales == null || item.product.sales.salesValue == 0}"
												th:text="${'$' + item.product.price}"></span>

										</div>
										<!-- quatity -->
										<div class="col cart-quantity">
											<div class="row ">
												<a href="" class="sub-btn ">-</a> <input
													style="width: 30% !important; margin: 0;" readonly type="number"
													th:value="${item.quantity}"> <a href="" class="add-btn">+</a>
											</div>
										</div>
									</div>
									<div class="row ">
										<span class="new-price col" th:text="'total: ' + ${item.price}"></span>
										<div class="col">
											<a href="" class="mt-8">xóa khỏi giỏ hàng</a>
										</div>
										<div class="hr"></div>
									</div>

								</div>
								</c:forEach>

								<div class="total-price col1">
									<div class="row">
										<label class="label">total price</label> <label for=""
											th:text="'$' + ${cart.amount}">
										</label>
									</div>
									<div class="row">
										<label class="label">saving</label> <label for=""
											th:text="'$' + ${cart.saving}">
										</label>
									</div>
									<div class="row">
										<label class="label">tax</label> <label for=""> 10% </label>
									</div>
									<div class="row">
										<label class="label">Sub total</label> <label for=""
											th:text="'$' + ${cart.amount + cart.amount * 10 / 100}">
										</label>
									</div>
								</div>
							</div>

							<div class="row ">
								<div class="hr"></div>
								<input class="submit-form col1" type="submit" value="Thanh Toán">
							</div>
						</div>


						<p th:if="${session.cart.items.empty || session.cart == null}">Your cart is empty</p>

					</form>
				</div>


			</div>
		</div>



	</header>
	<div class="wrapper ptb-160 ">
		<div class="order-contents row">
			<div class="side-bar">
				<form class="form js-form-account col js-user-form " th:action="@{~/logout}" method="post">
					<div class="main-content">
						<h3 th:text="'Welcome ' + ${user.username} +'!'"></h3>
						<h4>Đơn hàng của bạn</h4>
						<a href="" class="row button choose"> <span><i class="ti-time icon "></i> Xem tất cả đơn
								hàng</span> <i class="ti-arrow-right icon"></i>
						</a>
						<h4>Thanh toán</h4>
						<a href="" class="row button"> <span><i class="ti-time icon"></i> Quản lý thẻ</span> <i
								class="ti-arrow-right icon"></i>
						</a>

						<h4>Voucher</h4>
						<a href="" class="row button"> <span><i class="ti-time icon"></i> Voucher của bạn</span> <i
								class="ti-arrow-right icon"></i>
						</a>

						<h4>Cài đặt</h4>
						<a href="" class="row button"> <span><i class="ti-time icon"></i> Cài đặt tài khoản</span> <i
								class="ti-arrow-right icon"></i>
						</a>
						<h4>Địa chỉ của bạn</h4>
						<a href="" class="row button"> <span><i class="ti-time icon"></i> Chỉnh sửa địa
								chỉ</span> <i class="ti-arrow-right icon"></i>
						</a>

					</div>
					<div class="hr"></div>

					<input type="submit" class="logout-button" value="Log out"></input>
				</form>
			</div>
			<div class="main-contents">
				<div class="ordered-list" th:if="${orders != null && !orders.orderDetails.empty}">



					<div th:each="order : ${orders}" class="ordered-wrapper ">
						<div class="row orderd">
							<span class="order-id" th:text="${order.orderDetails.size()} + 'item'"> </span>
							<span class="order-date" th:text="'date: ' + ${order.orderDate}"></span> <span
								class="order-total-price" th:text="'total: '+${order.totalDue}"></span>
						</div>
						<div class="ordered-detail ">
							<div class="ordered-item col" th:each="item : ${order.orderDetails}">
								<div class="ordered-item-detail row">
									<div class="main-item-img">
										<img th:src="@{'~/images/product/' + ${item.product.img } + '/' + ${item.product.img } + '_1.jpg'}"
											alt="">
									</div>
									<a th:href="@{${'/product/' + product.category.name + '/' + product.id }}"
										class="main-item-text"> <span th:text="${item.product.brand.name + ' ' + item.product.name}"></span>
									</a>

									<div class="quantity">
										<span th:text="'Số lượng: ' + ${item.quantity}"> </span>

									</div>
									<div class="price f-13">
										<span class="" th:text="'$' + ${item.price}"></span>

									</div>
									<span th:text="item.status.dis">status: ${item.status }</span>
								</div>
								<div class="row">

									<c:if test="${ item.reviewPer == '1' }">

										<div class="review-btn ">Đánh giá sản phẩm</div>
									</c:if>
									<div class="overlay-review hide-modal row">
										<form action="reviewProcess" class="form-review " method="post">

											<a class="close-btn" href="">close</a>
											<h2 class="reviews-title">Review</h2>
											<div class="row form-review-rating">
												<input type="number" name="orderIdRv" value="${order.id }"
													hidden="true">

												<input type="number" name="idProduct" value="${item.product.idProduct }"
													hidden="true"> <input type="number" name="rvper" value="0"
													hidden="true">
												<input type="text" name="rating" value="0" class="rating-input"
													hidden="true"> <i class="ti-star review-rating"></i> <i
													class="ti-star review-rating"></i> <i
													class="ti-star review-rating"></i> <i
													class="ti-star review-rating"></i> <i
													class="ti-star review-rating"></i>


											</div>
											<div class="review-contents">
												<label for="">Name</label> <input type="text" name="name">
												<label for="">Title</label> <input name="title" type="text">

												<textarea placeholder="enter review" name="review" cols="50" rows="10">
                                            </textarea>
												<input type="submit" class="review-btn" value="SEND">
											</div>


										</form>
									</div>
									<c:if test="${item.status.equals('Đang vận chuyển') }">
										<a href="orderProcess?rvper=1&idProduct=${item.product.idProduct }&orderId=${order.id}"
											class="review-btn ">đã nhận được hàng</a>

									</c:if>
									<a class="review-btn">mua lại</a>
								</div>
							</div>
							<div class="hr"></div>


							</c:forEach>
						</div>
					</div>


					</c:forEach>
				</div>
			</div>
		</div>
	</div>
	<jsp:include page="footer.jsp"></jsp:include>
	<script th:src="@{~/scripts/order.js}" defer></script>
</body>

</html>