@charset "ISO-8859-1";
* {
    box-sizing: border-box
}


.invalid-input {
    border: 2px solid rgb(255, 156, 16);
  }
  .error-message{ background-color: red;
    color: aliceblue;
   /* padding: 4px;*/
    margin: 4px 0 8px;
}
.btn{
	padding: 12px;
	margin-bottom: 32px;
	font-size: 15px;
}