<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8">
	<title>PL Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/css/styles.css}">
    <link rel="stylesheet" th:href="@{~/css/cart.css}">
    <link rel="stylesheet" th:href="@{~/css/themify-icons/themify-icons.css}">
    <title>Done</title>
</head>
<body>
   
        <div class="heafer-container row">
            <div class="row header-logo">
                <div class="logo col">
                    <a href="home">
                        <img width="150px" th:src="@{~/images/logo/logostore.png}" alt="" class="logo-store ml-60">
                    </a>
                </div>
                <h1 class="cart-title">Done</h1>
            </div>
            <div class="row header-search ">
                <div class="search-header">
                    <input type="text" class="header-input-search input" placeholder="tìm kiếm sản phẩm"><i
                        class="ti-search icon"></i>

                </div>

            </div>

        </div>
        <div class="wrapper">
            <img th:src="@{~/images/logo/done.jpg}" alt="">
            <h4>Thanh Toán hoàn tất</h4>
            <a href="home">quay về trang chủ</a>
        </div>
        <div class="footer"></div>
    
</body>
</html>